@model List<Project.Repository.ViewModels.AddEditProductViewModel>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    @if (Model.Count > 0)
    {
        foreach (var items in Model)
        {
            <tr style="@(items.Stock <= 5 ? "background-color: rgb(255, 189, 168)" : "")">
                <th>#@items.Id</th>
                <th>@items.Name</th>
                <th>@items.Category</th>
                <th>@items.Stock</th>
                <th>@items.Price</th>
                <th>@items.Description</th>
                <th>
                    <span>
                        <button class="btn btn-outline-dark AddEditModalBtn" data-id="@items.Id">Edit</button>
                        <button class="btn btn-danger DeleteProduct" data-id="@items.Id">Delete</button>
                    </span>
                </th>
            </tr>
        }
    }
</table>
@if (Model.Count == 0)
{
    <div>
        <p class="text-center">No Products Found</p>
    </div>
}
